#navbar {
  overflow: hidden;
  background-color: #43b2ba;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index:3;
}

#navbar a, button {
  float: left;
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}


