/* color: #43b2ba */
/* lite: #eeeeee */

.content{
  background-color: #eeeeee;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
  padding-bottom: 10px;
}