/* color: #43b2ba */
/* lite: #eeeeee */

.content{
  background-image: url('eric-ward-wejhq4J-UNo-unsplash.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin: 0;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
  padding-bottom: 10px;
}
