#create {
  background-color: #43b2ba;
  border-radius: 5px;
  margin: 10px;

}

#create h3 {
  margin: 0px;
  padding: 5px;
  text-align: center;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.create-form * {
  padding: 5px;
  margin: 5px;
}

.checkboxes {
  width: 100%;
}

/* .checkboxes label {
  font-size: 12px;
}

input[type=checkbox] {
  transform: scale(0.8);
} */