#list {
  background-color: #43b2ba;
  border-radius: 5px;
  margin: 10px;

}

#list h3 {
  margin: 0px;
  padding: 5px;
  text-align: center;
}

.listitem {
  padding: 10px;
}

.listsub {
  padding-left: 25px;
}